[Desktop Entry]
Categories=Game;Network;
Comment=NXM Protocol Download Handler
Exec=kgx -- wine "/home/admin/.wine/drive_c/Program Files/Black Tree Gaming Ltd/Vortex/Vortex.exe" --install %u
GenericName=Writes the provided nxm url as an argument to Vortex by editing the Lutris game config for Vortex twice before launching.
Icon=lutris_vortex-mod-manager
MimeType=x-scheme-handler/nxm-protocol;x-scheme-handler/nxm;
Name=Vortex Handler
NoDisplay=true
#Path="/home/admin/.wine/drive_c/Program Files/Black Tree Gaming Ltd/Vortex"
StartupNotify=true
Terminal=false
Type=Application
